<div ng-controller="getReplyCtrl">
	<div class="row clearfix">
		<div>
			<form role="form">
			  <div class="form-group">
			  	<div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">请输入取信密码：</button>
                    </span>
                    <input ng-model="getReplyKey" type="text" class="form-control" style="width: 50%">
                    <button id="fat-btn" class="btn btn-primary" data-loading-text="取信中..." type="button" ng-click="getMessage()">取信</button>
                </div>
			    <textarea ng-model="result.reply" rows="6" type="text" class="form-control" id="replyContent" placeholder="回信內容将显示在这里……"></textarea>
			  </div>
			</form>
	    </div>
	</div>
</div>