<div ng-controller="homeCtrl">
	<div class="row clearfix">
		<div>
			<form role="form">
			  <div class="form-group">
			  	<div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">请输入取信密码：</button>
                    </span>
                    <input ng-model="getReplyKey" type="text" class="form-control" style="width: 50%">
                    <span ng-show="showKeyError" class="red" style="height: 34px;display: block;float: right;line-height: 30px;">不能为空哦，不然你怎么取回我给你的回信呢？</span>
                </div>
			    <textarea ng-model="submitContent" rows="12" type="text" class="form-control" id="name" placeholder="在这里倾诉你的烦恼，解忧杂货店将为你解答……"></textarea>
			  	<span ng-show="showContentError" class="red" style="height: 34px;display: block;float: right;line-height: 30px;">{{errorMessage}}</span>
			  </div>
			  <button ng-click="submit()" type="button" class="btn btn-success" >穿越</button>
			  <button ng-click="clear()" type="button" class="btn btn-default">撕毁</button>
			</form>
	    </div>
	</div>
</div>